{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bug</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bug.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bug.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if bug.created %}{{ bug.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ bug.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bug_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bug_edit', { 'id': bug.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
